// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@use "variables" as *;
/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin reset-list(){
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-dark-blue(){
  display: inline-block;
  padding: 15px 40px;
  border-radius: 28px;
  color: white;
  background-color: $dar-blue;
  text-decoration: none;
  font-family: $primary-font;
  &:hover{
    transform: scale(1.05);
    text-underline-offset: 5px;
  }

}
@use "variables" as *;
.button-dark-blue {
  @include button-dark-blue();
}