// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts" as *;

.header {
    background-image: url(../../img/hero-img.png);
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position-x: 300px;

}