// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts" as *;

.header {
    position: relative;
    min-height: 100vh; 
    display: flex;

    &::before {
        content: '';
        position: absolute; 
        top: 0;
        left: 0;
        width: 65%;
        height: 80%;
        background-color: $gray-bg;
        z-index: -3;
    }
        
    &::after {
    content: '';
    position: absolute; 
    top: 0;
    right: 0;
    width: 35%;
    height: 80%;
    background-color: $green-bg;
    z-index: -3;
    }

}