@use "../abstracts" as *;

.container-nav {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;

    .container-nav-img {
        max-width: 180px;
    }

    .principal-nav {
        ul {
            display: flex;
            @include reset-list();
            gap: 45px;
            font-family: $primary-font;
            color: $dar-blue;

            li {
                position: relative; 

                a {
                    color: $dar-blue;
                    font-size: 16px;
                }

                &.submenu {
                    &:hover .sub-nav {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0)
                        
                        
                    }
                }

                .sub-nav {
                    margin-top: 10px;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background: white;
                    padding: 10px;
                    width: max-content;
                    background-color: $gray-bg;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(-10px);
                    transition: opacity 0.2s , transform 1s , visibility 7s;
                    transition-duration: 1.5s;
                    ul{
                        display: flex;
                        flex-direction: column;
                        background-color: $gray-bg;
                        li {
                            padding: 5px 10px;
                            white-space: nowrap;
                            a {
                                padding: 5px 25px;
                                opacity: 1; 
                            }
                        }
                        
                    }
                    
                }
            }
        }
    }
}